page-historial {
 .margin {
     margin: auto;
     position: absolute;
     top: 40%; left: 0; bottom: 0; right: 0;
 }

 ion-icon {
   padding-bottom: 0!important;
 }

 button {
   border-radius: 2px!important;
 }
}
